
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

html,body {
    font-family: 'Sarabun', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(241, 241, 241);
}
:root {
    --colorNav: black;
    --colorHeader: white;
    --bgHeader: blue;
    --bgNav: rgb(255, 255, 255);
    --bgWrapper: rgb(255,255,255);
    --bgDropdownMenu: #5a66a3;
    --colorDropdownMenu: white;
    --hover: #333232;
    --bgAside: #ffffff;
    --bgCard: rgb(250, 250, 250);
    --bgLi: rgb(226, 225, 225);
    --labelV1: rgb(78, 78, 78);
    --bgFolderMenu: rgb(237, 237, 237);
    --bgFolderMenu1: rgb(210, 206, 252);
    --bgFolderMenu2: rgb(196, 184, 240);
    --bgSlideMenu: #e8e9ee;
}
.box-shadow {
    box-shadow: 1px 1px 10px silver;
}
.border-radius {
    border-radius: 5px;
}
#section-container {
    margin: 10px;
    padding-block: 10px;
    padding-inline: 20px;
    background-color: var(--bgWrapper);
}
.full-height {
    height: 100%;
}
#section-container > h3 {
    padding: 0;
    margin: 0;
}
#section-container > h4 {
    padding: 0;
    margin: 0;
}
#box-container > h3 {
    padding: 0;
    margin: 0;
}
#box-container > h4 {
    padding: 0;
    margin: 0;
}
#box-container {
    margin: 10px;
    padding-block: 10px;
    padding-inline: 20px;
    background-color: var(--bgWrapper);
}
.grid-main {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100%;
}
.form-grid-2 {
    margin-block: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
label.label-1 {
    color: var(--labelV1);
    font-size: 1rem;
}
.list-table {
    margin-block: 30px;
}
th:nth-last-child(1),td:nth-last-child(1) {
    display: flex !important;
    margin: 2px;
    justify-content: end;
}
table > * button {
    margin: 2px;
}
ul.mobile {
    display: none !important;
}
.b {
    font-weight: bold;
}
.line {
    text-decoration: underline;
}
.folder-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}
.folder-menu > a > .menu {
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 300px;
    background-color: var(--bgFolderMenu);
}
.folder-menu > a > .menu > .border-img {
    background-color: var(--bgFolderMenu1);
    border: 0px;
    margin: 10px;
    color: white;
    border-radius: 50%;
}
.folder-menu > a > .menu > .border-img:hover {
    background-color: var(--bgFolderMenu2);
    transition: 1s;
    border: 5px solid white;
    cursor: pointer;
}
.folder-menu > a > .menu > .border-img > img {
    padding: 10px;
    margin: 10px;
}
.title-menu > a {
    text-decoration: none !important;
    font-size: 1.2rem !important;
}
.folder-menu > a {
    text-decoration: none !important;
    font-size: 1.2rem !important;
}
.title-menu > a {
    text-decoration: none !important;
    font-size: 1.2rem !important;
}
.close-slide {
    width: 0;
    height: 100%;
    background-color: var(--bgSlideMenu);
    display: block;
    position: fixed;
    transition: 1s;
    top: 100px;
    overflow: hidden;
}
.on-open {
    width: 100% !important;
    background: var(--bgSlideMenu);
}
.mobile-list {
    display: block;
}
.mobile-list li {
    display: block;
}

@media only screen and (max-width: 600px) {
    body , html {
        width: 100%;
        height: 100%;
        display: table;
    }
    .grid-main {
      grid-template-columns: 1fr;

    }
    ul.desktop {
        display: none !important;
    }
    ul.mobile {
        display: block !important;
    }
    .folder-menu {
        grid-template-columns: 1fr;
    }
  }